<div class="flex flex-col items-center justify-center w-full h-full gap-2">
  @if (isLoading()) {
  <div class="loader"></div>
  } @else {
  <!-- Verificar si perfil es valido -->
  @if (perfil()) {
  <!-- Titulo -->
  <div class="flex items-center gap-2">
    <div class="w-3 h-3 bg-green-400 rounded-full"></div>
    <span class="text-xl font-black text-center text-colorBlack"
      >Dispositivo conectado correctamente</span
    >
  </div>

  <!-- Descripción -->
  <span class="mt-2 w-[55%] text-xs text-center text-colorT1"
    >Te recomendamos mantener activo el dispositivo vinculado, si deseas cambiar
    a otro dispositivo termina la instancia y vuelve a conectarte.</span
  >

  <!-- Datos Contacto -->
  <img
    class="mt-4 w-[80px] h-[80px] rounded-full shadow-lg object-cover"
    [src]="perfil()?.imagen"
    alt="Perfil"
  />
  <span class="font-black text-center text-colorBlack"
    >{{ perfil()?.nombre }} <br />
    {{ perfil()?.phone }}
  </span>
  <span class="text-xs text-colorBlack2"
    >Conectado desde 10 de octubre del 2024</span
  >
  <app-button (click)="terminarInstancia()" class="mt-4" icon="power_off" text="Terminar instancia" />
  } }
</div>
