<form
  class="flex flex-col gap-4 p-4"
  [formGroup]="formulario"
  (submit)="save()"
>
  <div class="flex items-center gap-2">
    <mat-icon>lock_reset</mat-icon>
    <span class="text-lg font-bold text-colorBlack2">Cambiar Contraseña</span>
  </div>

  <div class="flex flex-col items-start gap-0">
    <span class="text-colorBlack">Contraseña Actual</span>
    <input
      class="w-full px-2 py-2"
      type="password"
      formControlName="oldPass"
      (keypress)="oldPassError.set(null)"
    />
    @if (oldPassError()) {
    <span class="text-sm text-red-500">{{ oldPassError() }}</span>
    }
  </div>
  <div class="flex flex-col items-start gap-0">
    <span class="text-colorBlack">Contraseña Nueva</span>
    <input
      class="w-full px-2 py-2"
      type="password"
      formControlName="newPass"
      (keypress)="newPassError.set(null)"
    />
    @if (newPassError()) {
    <span class="text-sm text-red-500">{{ newPassError() }}</span>
    }
  </div>
  <div class="flex flex-col items-start gap-0">
    <span class="text-colorBlack">Confirmar Contraseña</span>
    <input
      class="w-full px-2 py-2"
      type="password"
      formControlName="confirmPass"
      (keypress)="confirmPassError.set(null)"
    />

    @if (confirmPassError()) {
    <span class="text-sm text-red-500">{{ confirmPassError() }}</span>
    }
  </div>

  @if (error) {
  <span class="text-sm text-red-500">{{ error }}</span>
  } @if (isLoading()) {
  <div class="flex items-center justify-center">
    <div class="loader"></div>
  </div>
  }@else {
  <div class="flex flex-row items-center justify-end gap-2">
    <app-button text="Guardar" type="submit" />
    <app-button text="Cancelar" theme="secondary" (click)="dismiss()" />
  </div>
  }
</form>
