<div class="flex flex-col items-start gap-4 p-4 bg-white shadow-xl rounded-xl">
  <!-- Titulo -->
  <span class="text-[18px] font-black"> Mensaje </span>

  <!-- Input para el mensaje -->
  <textarea
    class="w-full h-[240px] p-4 rounded-2xl bg-gray-200 text-left align-top focus:outline-none focus:ring-0 resize-none"
    [value]="service.mensaje()"
    (change)="setMensaje($event)"
  ></textarea>

  <div class="w-full">
    <app-archivo-adjunto />
  </div>

  <div class="flex items-center justify-between w-full">
    <app-subir-archivo />
    <app-button (click)="service.send()" icon="send" text="Enviar" />
  </div>
  
</div>
