<div class="flex flex-col gap-4 p-2">
  <div
    class="flex items-center justify-between w-full px-4 py-2 bg-white shadow-xl rounded-xl"
  >
    <span class="text-xl font-bold text-colorBlack">Historial General</span>

    <!--
    <app-button icon="filter_alt" text="Filtar" theme="secondary" />
    -->
  </div>

  <table class="w-full bg-white shadow-xl rounded-xl">
    <thead>
      <tr>
        <th class="p-4 text-start">Número de envío</th>
        <th class="p-4 text-start">Fecha</th>
        <th class="p-4 text-start">Hora</th>
        <th class="p-4 text-start">Enviados</th>
        <th class="p-4 text-start">Estado</th>
        <th class="p-4 text-center">Mensaje</th>
      </tr>
    </thead>
    <tbody>
      @for (item of listHistorial(); track $index) {
      <tr class="bg-colorGrey even:bg-white">
        <td class="px-4 py-2">#{{ item.correlativo | numEnvio }}</td>
        <td class="px-4 py-2">{{ item.created_at | date : "dd-MM-yyyy" }}</td>
        <td class="px-4 py-2">{{ item.created_at | date : "HH:mm a" }}</td>
        <td class="px-4 py-2">
          <div class="flex items-center">
            <span> {{ item.enviados }}/{{ item.total }}</span>
            @if (item.estado == "Enviando") {
            <div class="loader2"></div>
            }
          </div>
        </td>
        <td class="px-4 py-2">{{ item.estado }}</td>
        <td class="flex items-center justify-center px-4 py-2">
          <button
            (click)="verMensaje(item)"
            mat-icon-button
            matTooltip="Ver Mensaje"
          >
            <mat-icon>mark_email_read</mat-icon>
          </button>
          @if (item.estado != "Completado" && item.estado != "Cancelado") {
          <button
            (click)="detenerEnvio(item)"
            mat-icon-button
            matTooltip="Detener"
          >
            <mat-icon>stop_circle</mat-icon>
          </button>
          }
        </td>
      </tr>
      } @empty {
      <tr>
        <td class="px-4 py-2 text-center rounded-b-xl bg-colorGrey" colspan="6">
          No hay registros
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
